@import '~primer-support';

$link-text: #82b1ff;
$warning: #ffc780;
$error: #F25B2A;
$info: #FB6706;
$input-hover-border: #4c5480;
$primary-button-background: #FB6706;
$primary-button-background-hover: #FB6706;
$primary-button-border: #FB6706;
$primary-button-text: #ffffff;
$secondary-button-background: #272727;
$secondary-button-background-hover: #253743;
$secondary-button-border: #31313b;
$secondary-button-text: #fbd7d9;
$button-disabled: #414249;
$button-disabled-text: #c5c5c5;
$panel-border: #272727;
$panel-background: #253743;
$panel-header-background: #282932;
$highlighted-selector-border: #31ffd8;

// PrimerCSS
$black: #253743;
$border: 1px solid $panel-border;
$bg-blue: #384AFF;
$bg-blue-light: #F7F8FC;
$bg-gray: #90a4ae;
$bg-green: #21b66f;
$text-blue: #384AFF;
$text-red: #ff8a80;
$text-yellow: #ffc780;
$blue-100: #DCE2FF;
$gray: $bg-gray;
$text-gray: $gray;
$blue: #FB6706;
$blue-900: #FB6706;
$gray-dark: #282a32;
$bg-gray-dark: $gray-dark;

//cent colours
$primary: #FB6706;
$secondary: #00D1E4;
$accent: #ddf5f7;
$dark: #1d1d1d;
$positive: #2efa98;
$negative: #fa2e69;
$info: #361e4e;
$warning: #fbd7d9;

$border-radius: 8px;
$box-shadow:rgba(0, 0, 0, 0.01) 0px 0px 1px, rgba(0, 0, 0, 0.04) 0px 4px 8px, rgba(0, 0, 0, 0.04) 0px 16px 24px, rgba(0, 0, 0, 0.01) 0px 24px 32px;

$body-font-size: 14px;
$body-line-height: 1.4;
$h1-size: 28px;
$h2-size: 24px;
$h3-size: 20px;
$h4-size: 18px;
$h5-size: 16px;

$font-weight-normal: 'Inter', sans-serif;
$font-weight-bold: 'Inter', sans-serif;
$body-font: $font-weight-normal;
$font-mktg: $font-weight-bold;
